# Directories to ignore

/.idea
/demo/project/bin/*
/demo/project/obj
/demo/project/.vs
/node_modules

# Extensions to ignore

*.7z
*.diff
*.dll
*.exe
*.gz
*.log
*.patch
*.rar
*.sln.docstates
*.suo
*.tmp
*.user
*.userosscache
*.userprefs
*.VisualState.xml
*.zip

# Exceptions

!/demo/project/bin/*.exe*
